Images filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Part filter=lfs diff=lfs merge=lfs -text
1.zip filter=lfs diff=lfs merge=lfs -text
Part1.zip filter=lfs diff=lfs merge=lfs -text
Part2.zip filter=lfs diff=lfs merge=lfs -text
Part3.zip filter=lfs diff=lfs merge=lfs -text
